* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(#280069, #090018);
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 750px;
    padding: 2rem;
    background-color: rgba(35, 35, 35, 0.5);
    border-radius: 16px;
    border: solid #000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 500px;
    height: 50px;
    background-color: #000;
    border: solid #341769;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}

.input:focus-within {
    border: solid #5225a5;
}

.text {
    width: 85%;
    height: 100%;
    padding: 10px;
    background-color: #000;
    border: solid #000;
    border-radius: 50px;
    font-size: 2rem;
}

.text:focus {
    outline: none;
}

.submit {
    width: 15%;
    height: 100%;
    background-color: #6200ff;
    border: solid #000;
    border-radius: 50px;
    font-size: 1.75rem;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 50vh;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 15px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid #341769;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 95%;
    min-height: 50px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.task p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.task:hover {
    background-color: #1f0058;
}

.xButton {
    visibility: hidden;
    background-color: rgb(255, 0, 0);
    border: solid #670000;
    border-radius: 8px;
}

.task:hover .xButton {
    visibility: visible;
}

.x {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.done p {
    text-decoration: line-through;
    color: #afafaf;
}

.check {
    visibility: hidden;
    background-color: rgb(255, 0, 0);
    border: solid #670000;
    border-radius: 8px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.task:hover .check {
    visibility: visible;
}